@import url(http://fonts.googleapis.com/css?family=Coming+Soon);
body {
    background: url(wood_1.png);
}

.player-card {
    float: left;
    margin: 10px;
}

.player-card .name {
    display: block;
}
#main-content {
    background: url(bgnoise_lg.png);
    border-radius: 2em/1em;
    box-shadow: 0 0 20px black, 0 0 5px white, inset 0 0 50px rgba(0,0,0,0.3);
    min-height: 300px;
    overflow: hidden;
    padding-bottom: 20px;
}

.alert-success {
    background: url(bgnoise_green.png);
    box-shadow: inset 0 0 5px black;
    /*border-radius: 15px !important;*/
    /*color: white !important;*/
    /*text-shadow: 0 0 2px black;*/
}

.alert-info {
    background: url(bgnoise_blue.jpg);
    box-shadow: inset 0 0 5px #0A2E46;
}

.navbar {
    background: url(wood_dark.png);
}

input.form-control, input.form-control:focus {
    box-shadow: inset 0px 1px 4px #666;
    border: 1px solid #888;
}

#table {
    /*width: 500px;*/
    height: 500px;
    background: url(pool_table.png);
    position: relative;

    border-radius: 20px;
    border: 2px solid rgb(7, 56, 11);
    box-shadow: 0 0 6px -2px black;
    /*z-index: -1;*/
}

#trump {
    float:right;
    margin: 1em;
    margin-right: 3em;
}

#trump strong {
    font-size: 2em;
    /*color: #634D10;*/
    color: rgb(7, 56, 11);
    text-shadow: 1px 2px 2px rgb(5, 41, 8), -1px -1px 1px rgb(49, 113, 59);
    /*line-height: 3em;*/
    vertical-align: middle;
    /*margin-right: ;*/
    margin-right: .5em;
}

#trump figure {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 1em;
    box-shadow: inset 0 0 10px black;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgb(49, 113, 59);
}

.avatar.glyphicon {
    font-size: 80px;
    border: 5px solid black;
    background: #EEE;
    border-radius: 5px;
    margin: 5px;
    vertical-align: middle;
}
.avatar.active {
    border: 5px solid #66eb79;
}

.player {
    overflow: visible;
}

.player .cards, .player-opposite .cards {
    height: 140px;
    padding: 5px;
}
#player-left {
}


.cards {
    perspective: 1000px;
    width: 1000px;
}

.card {
    position: relative;
    float: left;
    margin-right: -50px;
    width: 100px;
    height: 136px;
    /*transform-style: preserve-3d;*/
    transition: transform 200ms;

    /* faceup */
    /*transform: rotateY(0deg);*/
}

.card.unplayable {
    background: gray;
}
.card.unplayable img {
    opacity: 0.5;
}

.card.facedown {
    /*transform: rotateY(180deg);*/
}

.card.played {
    /*transform: rotateY(0deg) translate(100px, 200px);*/
}

.card .back, .card .front {
    position: absolute;
    height: inherit;
    width: inherit;
    background-size: 100%;
    background-repeat: no-repeat;
}

.card .back {
    /*z-index: 1;*/
    background-image: url(cards/cardBack_red4.png);
    /*transform: translateZ(-1px) rotateY(180deg);*/
}
.card .front {
    /*z-index: 2;*/
    /*background-image: url(../cards/cardSpades4.png);*/
}

.hearts, .diamonds {
    color: red !important;
}

.spades, .clubs {
    color: black !important;
}

.hearts.big, .spades.big, .clubs.big, .diamonds.big {
    font-size: 7em;
}

#trump-picker a:hover {
}

#trump-symbol {
    background-repeat: no-repeat;
    background-size: contain;
}
#trump-symbol.hearts {  background-image: url(hearts.png); }
#trump-symbol.spades {  background-image: url(spades.png); }
#trump-symbol.diamonds {  background-image: url(diamonds.png); }
#trump-symbol.clubs {  background-image: url(clubs.png); }


#player-left .cards, #player-right .cards {
    display: block;
    clear: both;
    transform-origin: top left;
    left: 136px;
    position: relative;
}
#player-left .cards {
    transform: rotate(90deg);
    margin-left: 100px;
    /*transform-origin: center;*/
}

#player-right .cards {
    transform: rotate(90deg);
    /*transform-origin: center;*/
}

#player-left .card, #player-right .card {
    margin-right: -80px;
}

.name {
    font-size: 2em;
    line-height: 1em;
    vertical-align: middle;
}

#played-cards > div {
    display: block;
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 0 0 5px black;
    width: 100px;
    height: 136px;
    overflow: hidden;
}

#card-top {
    left: 30%;
    top: 10px;
}

#card-left {
    left: 10px;
    top: 40%;
}

#card-right {
    right: 10px;
    top: 40%;
}

#card-bottom {
    left: 30%;
    bottom: 10px;
}

#player-left .name, #player-right .name {
    display: block;
}

#content > h2, form > h2 {
    background: url(wood_dark.png);
    margin-top: 0;
    padding-top: 20px;
    color: rgb(145, 145, 145);
    margin-left: -17px;
    margin-right: -17px;
    padding-left: 17px;
    padding-bottom: 10px;
    box-shadow: inset 0 0 109px #333;
    font-family: 'Coming Soon', cursive;
    text-shadow: -1px -1px 1px black;
}


#player-left .avatar, #player-right .avatar, #player-opposite .avatar {
    color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}

#player-left .avatar {
    background-image: url(avatars/player-2.jpg);
}
#player-left .avatar.active {
    background-image: url(avatars/player-2-active.jpg);
}
#player-right .avatar {
    background-image: url(avatars/player-4.jpg);
}
#player-right .avatar.active {
    background-image: url(avatars/player-4-active.jpg);
}
#player-opposite .avatar {
    background-image: url(avatars/player-3.jpg);
}
#player-opposite .avatar.active {
    background-image: url(avatars/player-3-active.jpg);
}