#table {
    /*width: 500px;*/
    height: 500px;
    background: url(wood_pattern_light.png);
    position: relative;

    border-radius: 20px;
    border: 2px solid rgb(252, 227, 184);
    box-shadow: 0 0 6px -2px black;
    z-index: -1;
}

#trump {
    float:right;
    margin: 1em;
    margin-right: 3em;
}

#trump strong {
    font-size: 2em;
    /*color: #634D10;*/
    color: rgba(163, 131, 82, 1);
    text-shadow: 1px 2px 2px rgba(126, 105, 72, 1), -1px -1px 1px rgba(255, 255, 255, 1);
    /*line-height: 3em;*/
    vertical-align: middle;
    /*margin-right: ;*/
    margin-right: .5em;
}

#trump figure {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 1em;
    box-shadow: inset 0 0 10px black;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgb(250, 220, 179);
}

.avatar.glyphicon {
    font-size: 80px;
    border: 5px solid black;
    background: #EEE;
    border-radius: 5px;
    margin: 5px;
    vertical-align: middle;
}
.avatar.active {
    border: 5px solid #66eb79;
}

.player {
    overflow: visible;
}

#player-left {
}


.cards {
    perspective: 1000px;
    width: 1000px;
}

.card {
    position: relative;
    float: left;
    margin-right: -50px;
    width: 100px;
    height: 136px;
    transform-style: preserve-3d;
    transition: transform 200ms;

    /* faceup */
    transform: rotateY(0deg);
}

.card.unplayable {
    background: gray;
}
.card.unplayable img {
    opacity: 0.5;
}

.card.facedown {
    transform: rotateY(180deg);
}

.card.played {
    transform: rotateY(0deg) translate(100px, 200px);
}

.card .back, .card .front {
    position: absolute;
    height: inherit;
    width: inherit;
    background-size: 100%;
    background-repeat: no-repeat;
}

.card .back {
    /*z-index: 1;*/
    background-image: url(../cards/cardBack_red4.png);
    transform: translateZ(-1px) rotateY(180deg);
}
.card .front {
    /*z-index: 2;*/
    /*background-image: url(../cards/cardSpades4.png);*/
}

.hearts, .diamonds {
    color: red !important;
}

.spades, .clubs {
    color: black !important;
}

.hearts.big, .spades.big, .clubs.big, .diamonds.big {
    font-size: 7em;
}

#trump-picker a:hover {
}

#trump-symbol {
    background-repeat: no-repeat;
    background-size: contain;
}
#trump-symbol.hearts {  background-image: url(hearts.png); }
#trump-symbol.spades {  background-image: url(spades.png); }
#trump-symbol.diamonds {  background-image: url(diamonds.png); }
#trump-symbol.clubs {  background-image: url(clubs.png); }


#player-left .cards, #player-right .cards {
    display: block;
    clear: both;
    transform-origin: top left;
    left: 136px;
    position: relative;
}
#player-left .cards {
    transform: rotate(90deg);
    margin-left: 100px;
    /*transform-origin: center;*/
}

#player-right .cards {
    transform: rotate(90deg);
    /*transform-origin: center;*/
}

.name {
    font-size: 2em;
    line-height: 1em;
    vertical-align: middle;
}

#played-cards > div {
    display: block;
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 0 0 5px black;
    width: 100px;
    height: 136px;
    overflow: hidden;
}

#card-top {
    left: 30%;
    top: 10px;
}

#card-left {
    left: 10px;
    top: 40%;
}

#card-right {
    right: 10px;
    top: 40%;
}

#card-bottom {
    left: 30%;
    bottom: 10px;
}

#player-left .name, #player-right .name {
    display: block;
}